@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
.dropdown-content a:hover::before,
.header,
.home-sci a:hover::before,
.navbar a:hover::before {
  width: 100%;
}
.dropdown:hover .dropdown-content,
.header,
.navbar,
body {
  display: flex;
}
.dropdown-content a:hover,
.hamburger,
.home-sci a:hover {
  color: var(--col-off-white);
}
.Logo,
.dropdown-content a,
.home-sci a,
.navbar a {
  text-decoration: none;
}
.dropdown-content a,
.navbar a {
  font-weight: 500;
  position: relative;
}
.btn,
.dropbtn,
.hamburger {
  cursor: pointer;
}
.Logo,
.btn,
.second-text {
  font-weight: 600;
}
.btn,
.home-sci a,
.item,
form {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", Arial;
}
:root {
  --col-off-black: hsl(30, 10%, 10%);
  --col-off-white: hsl(18, 100%, 97%);
  --col-gray: rgba(150, 150, 150, 1);
  --col-off-tamarind: rgba(166, 158, 148, 1);
  --col-off-blushing: rgba(235, 190, 178, 1);
  --col-off-champagne: rgba(243, 219, 182, 1);
  --col-off-grecian-ivory: rgba(225, 215, 187, 1);
  --col-off-pearl-gray: rgba(202, 202, 196, 1);
  --col-off-tradewind: rgba(191, 213, 211, 1);
  --col-off-morning-fog: rgba(167, 177, 183, 1);
  --accent-cols: rgba(255, 228, 230, 1);
}
body {
  min-height: 100vh;
  background-image: url("../images/venue2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 10%;
  flex-grow: 1;
  justify-content: space-between;
  animation: 2s ease-in-out bounceIn;
  z-index: 1000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    transform: translateY(30px);
    opacity: 1;
  }
  50% {
    transform: translateY(-15px);
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.hamburger {
  display: none;
  font-size: 28px;
}
.Logo,
.btn:hover,
.dropdown-content a,
.home-sci a,
.navbar a,
.sidebar li a {
  color: var(--col-off-black);
}
.Logo {
  font-size: 25px;
}
.dropbtn,
.navbar a {
  font-size: 18px;
  transition: transform 0.5s;
}
.navbar a {
  margin: 0 0 0 35px;
}
.navbar a:hover {
  transform: scale(1.2);
}
.navbar a::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    45deg,
    var(--col-off-white),
    var(--col-off-black)
  );
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.5s;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.ham-btn,
.sidebar {
  display: none;
}
.dropbtn {
  background: 0 0;
  margin-left: 35px;
  border: none;
}
.dropdown:hover .dropbtn {
  transform: scale(1.1);
}
.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 5%;
  width: 80px;
  background: var(--col-off-white);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1100;
  border-radius: 8px;
}
.sidebar,
.sidebar .dropdown-content {
  background: var(--col-off-tamarind);
}
.dropdown-content a {
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  transition: color 0.8s;
}
.dropdown-content a::before,
.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--col-off-black);
  z-index: -1;
  transition: width 0.5s;
}
.Logo,
.dropbtn.b,
.navbar > a {
  animation: 2.5s ease-in-out bounceIn;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1000;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.container,
.item,
form {
  width: 100%;
}
.sidebar li {
  list-style-type: none;
  width: 100%;
}
@media screen and (max-width: 983px) {
  .hideOnMobile {
    display: none;
  }
  .ham-btn {
    display: inline-block;
  }
}
@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
.container {
  position: relative;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  height: 520px;
  background-color: var(--col-off-black);
  max-width: 1040px;
  background: var(--col-off-white);
  border-radius: 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 900;
}
.social-links {
  margin-top: 20px;
}
.submit-form {
  background: var(--col-off-black);
}
.item .image {
  height: 320px;
  width: 320px;
}
.item .image-container {
  margin: 50px 0 0;
  display: grid;
  justify-items: center;
}
.home-sci {
  display: flex;
  position: absolute;
  margin-left: 10px;
}
.btn,
.home-sci a,
.input-box,
.third-text {
  position: relative;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: 0 0;
  border: 2px solid var(--col-off-black);
  border-radius: 50%;
  font-size: 20px;
  z-index: 100;
  transition: color 0.5s;
  margin: 10px 0 0 10px;
}
.second-text {
  margin: 0 0 0 10px;
}
.third-text {
  font-size: 25px;
  top: 20px;
  left: 20px;
  padding-top: 10px;
  color: var(--col-off-white);
}
.btn,
.input {
  background: 0 0;
  font-size: 16px;
  color: var(--col-off-white);
}
form {
  padding: 0 50px;
  height: 100%;
}
.input-box {
  height: 40px;
  width: 80%;
  margin: 30px 0;
}
.input {
  width: 100%;
  height: 100%;
  border: 2px solid var(--col-off-white);
  border-radius: 20px;
  outline: 0;
  padding-left: 10px;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 10px;
  padding-left: 10px;
  transform: translateY(-50%);
  font-weight: 500;
  color: var(--col-off-white);
  transition: 0.3s;
}
.input-box .input:focus ~ label,
.input-box .input:valid ~ label {
  top: -1px;
  left: 10px;
  background: var(--col-off-black);
  font-weight: 500;
  font-size: 12px;
  padding: 5px;
}
textarea.input {
  resize: none;
  min-height: 150px;
  overflow: auto;
}
textarea {
  padding-top: 15px;
}
.btn {
  top: 100px;
  border: 2px solid var(--col-off-white);
  border-radius: 20px;
  height: 45px;
  width: 30%;
  transition: 0.5s;
}
.btn:hover {
  background: var(--col-off-white);
}
@media screen and (max-width: 800px) {
  .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(400px, 1fr) minmax(500px, 1fr);
    max-width: 80%;
    height: auto;
  }
  .image {
    height: 70%;
    max-width: 100%;
    object-fit: cover;
  }
  .contact {
    display: block;
    height: 100%;
    padding: 20px;
  }
  body {
    height: 150vh;
  }
}
@media screen and (max-width: 550px) {
  .btn,
  .input,
  body {
    font-size: 14px;
  }
  .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(400px, 1fr) minmax(600px, 1fr);
    max-width: 80%;
    height: auto;
  }
  .image {
    height: 70%;
    max-width: 100%;
    object-fit: cover;
  }
  .contact {
    display: block;
    height: auto;
    padding: 15px;
  }
  .input,
  form {
    padding: 10px;
  }
  .input-box {
    width: 90%;
  }
  .input {
    width: 100%;
  }
  .btn {
    height: 40px;
    width: 120px;
    margin: 20px 0;
  }
  .second-text,
  .third-text {
    font-size: 18px;
    line-height: 1.3;
  }
  body {
    height: 200vh;
  }
}
