@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
.navbar,
body {
  height: 200vh;
}
.grid-container .box-container .box .btn,
.home-sci a {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: var(--col-off-white);
  overflow: hidden;
}
.grid-container .box-container .box a::before,
.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--col-off-white);
  z-index: -1;
}
.home-sci a:hover,
.link-text {
  color: var(--col-off-black);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", Arial;
}
:root {
  --col-off-black: hsl(30, 10%, 10%);
  --col-off-tamarind: rgba(166, 158, 148, 1);
  --col-off-blushing: rgba(235, 190, 178, 1);
  --col-off-champagne: rgba(243, 219, 182, 1);
  --col-off-grecian-ivory: rgba(225, 215, 187, 1);
  --col-off-pearl-gray: rgba(202, 202, 196, 1);
  --col-off-tradewind: rgba(191, 213, 211, 1);
  --col-off-morning-fog: rgba(167, 177, 183, 1);
  --col-off-white: hsl(18, 100%, 97%);
  --col-gray: rgba(150, 150, 150, 1);
}
.actual-text,
.hidden {
  display: none;
}
.navbar:hover .link-text,
.visible {
  display: block;
}
body {
  background: linear-gradient(
    45deg,
    var(--col-off-blushing),
    var(--col-off-pearl-gray),
    var(--col-off-champagne)
  );
}
.navbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.navbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    120deg,
    var(--col-off-morning-fog),
    var(--col-off-pearl-gray)
  );
  border-radius: 10px;
}
.navbar::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg,
    var(--col-off-white),
    var(--col-off-grecian-ivory)
  );
  border-radius: 10px;
}
.navbar {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position: fixed;
  width: 5rem;
  transition: width 0.5s ease-in-out;
  z-index: 200;
}
.navbar-nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-container .box-container .box a:hover::before,
.home-sci a:hover::before,
.nav-item {
  width: 100%;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  height: 5rem;
  text-decoration: none;
  gap: 10px;
}
.link-text {
  display: none;
  transition: 0.5s ease-in-out;
}
.navbar:hover {
  width: 20rem;
}
.nav-link:hover {
  transform: scale(1.3);
}
.nav-link:hover .link-text {
  color: #000;
  font-weight: 600;
}
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    margin-left: 11rem;
  }
  .navbar:hover .logo-text {
    left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .navbar,
  .navbar:hover {
    width: 100vw;
  }
  .navbar {
    bottom: 0;
    height: 5rem;
    overflow-x: auto;
    overflow-y: hidden;
    transition: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .link-text {
    display: none !important;
  }
  .nav-link {
    justify-content: space-evenly;
  }
}
.grid-container {
  padding: 15px 9% 100px;
}
.grid-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}
.grid-container .box-container .box {
  min-width: 280px;
  min-height: auto;
  max-width: 280px;
  max-height: 600px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: var(--col-off-white);
  text-align: center;
  padding: 30px 20px;
  transition:
    transform 0.3s,
    box-shadow 0.3s,
    opacity 0.3s;
}
.grid-container .heading {
  text-align: center;
  padding-bottom: 100px;
  color: var(--col-off-white);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.grid-container .box-container .box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  padding: 10px;
}
.grid-container .box-container .box:hover {
  transform: scale(1.2);
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
  z-index: 2;
  cursor: pointer;
}
.grid-container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
  font-weight: 600;
}
.grid-container .box-container .box .btn {
  padding: 8px 25px;
  margin: 20px 0 0;
  background: #1c1b1b;
  border: 1px solid;
  border-radius: 8px;
  font-size: 17px;
  z-index: 1;
  transition: 0.5s;
}
.grid-container .box-container .box a::before {
  transition: 0.5s;
}
.grid-container .box-container .box .btn:hover {
  font-weight: 700;
  color: var(--col-off-black);
  border: 1px solid var(--col-off-black);
}
.skeleton {
  opacity: 0.7;
  animation: 1s linear infinite alternate skeleton-loading;
  background-color: #a3b7c1;
  border-radius: 8px;
}
.skeleton-text {
  width: 100%;
  height: 1.5rem;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #c1cfd6;
}
p.skeleton-text {
  width: 90%;
}
@keyframes skeleton-loading {
  0% {
    background-color: #a3b7c1;
  }
  100% {
    background-color: #eff3f4;
  }
}
@media (max-width: 768px) {
  .grid-container .box-container .box {
    max-width: 80%;
    margin: 20px;
  }
  .grid-container .box-container .box .btn {
    padding: 12px 15px;
    font-size: 16px;
  }
}
.social-links {
  margin-top: 20px;
}
.home-sci {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-sci a {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: 0 0;
  font-size: 20px;
  border: 2px solid var(--col-off-black);
  background: var(--col-off-black);
  border-radius: 50%;
  z-index: 100;
  transition: color 0.5s;
  margin: 10px 0 0 10px;
}
.home-sci a::before {
  transition: width 0.5s;
}
.partner {
  font-weight: 600;
}
