@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
.dropdown:hover .dropdown-content,
.header,
.navbar {
  display: flex;
}
.btn-box a,
.dropdown-content a {
  font-weight: 500;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
}
.grid-container .heading,
.item,
.typed-text,
.whatwedo {
  text-align: center;
}
.footer-container .item ul,
.sidebar li {
  list-style-type: none;
}
.Logo,
.btn-box a,
.dropdown-content a,
.footer-container .item a,
.navbar a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", Arial;
}
:root {
  --col-off-black: hsl(30, 10%, 10%);
  --col-off-white: hsl(18, 100%, 97%);
  --col-off-tamarind: rgba(166, 158, 148, 1);
  --col-off-blushing: rgba(235, 190, 178, 1);
  --col-off-champagne: rgba(243, 219, 182, 1);
  --col-off-grecian-ivory: rgba(225, 215, 187, 1);
  --col-off-pearl-gray: rgba(202, 202, 196, 1);
  --col-off-tradewind: rgba(191, 213, 211, 1);
  --col-off-morning-fog: rgba(167, 177, 183, 1);
  --col-gray: rgba(150, 150, 150, 1);
  --col-off-pink: hsl(313, 88%, 92%);
  --accent-cols: rgba(255, 228, 230, 1);
  --col-home-bg: rgba(242, 242, 242, 1);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg,
    var(--col-off-white),
    var(--col-off-grecian-ivory)
  );
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    120deg,
    var(--col-off-morning-fog),
    var(--col-off-pearl-gray)
  );
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--col-off-white);
  height: 200vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  flex-grow: 1;
  justify-content: space-between;
  animation: 2s ease-in-out bounceIn;
  z-index: 1000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: var(--col-off-white);
}
.Logo {
  font-size: 25px;
  color: var(--col-off-white);
  font-weight: 600;
}
.dropbtn,
.navbar a {
  font-size: 18px;
  transition: transform 0.5s;
  color: var(--col-off-white);
}
.navbar a {
  position: relative;
  font-weight: 500;
  margin: 0 0 0 35px;
}
.footer-container .item a:hover,
.navbar a:hover {
  transform: scale(1.2);
}
.navbar a::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    45deg,
    var(--col-off-white),
    var(--col-off-black)
  );
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.5s;
}
.btn-box a:hover::before,
.dropdown-content a:hover::before,
.grid-container .box-container .box a:hover::before,
.navbar a:hover::before {
  width: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.actual-text,
.ham-btn,
.sidebar {
  display: none;
}
.dropbtn {
  background: 0 0;
  margin-left: 35px;
  border: none;
  cursor: pointer;
}
.btn-box a,
.dropdown-content {
  background: var(--col-off-white);
}
.dropdown:hover .dropbtn {
  transform: scale(1.1);
}
.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 5%;
  width: 80px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1100;
  border-radius: 8px;
}
.sidebar,
.sidebar .dropdown-content {
  background: var(--col-off-tamarind);
}
.dropdown-content a {
  position: relative;
  color: var(--col-off-black);
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 8px;
  transition: color 0.8s;
}
.dropdown-content a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--col-off-black);
  z-index: -1;
  transition: width 0.5s;
}
.dropdown-content a:hover {
  color: var(--col-off-white);
}
.btn-box a,
.btn-box a:nth-child(2):hover,
.footer-container .social a:hover,
.sidebar li a {
  color: var(--col-off-black);
}
.Logo,
.dropbtn.b,
.navbar > a {
  animation: 2.5s ease-in-out bounceIn;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1000;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.btn-box a,
.text {
  position: relative;
}
.home,
.text-4::before {
  background: var(--col-off-black);
}
.sidebar li {
  width: 100%;
}
@media screen and (max-width: 999px) {
  .hideOnMobile {
    display: none;
  }
  .ham-btn {
    display: inline-block;
  }
  .dropbtn {
    color: var(--col-off-black);
  }
}
@media screen and (max-width: 399px) {
  .sidebar {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .dropbtn {
    color: var(--col-off-black);
  }
}
.btn-box a:hover,
.btn-box a:nth-child(2),
.grid-container .heading,
.typed-text {
  color: var(--col-off-white);
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.image-container,
.image-container2 {
  background-image: url("../images/wedding-photo3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  animation:
    3s ease-in-out fadeIn,
    30s ease-in-out infinite alternate changeImage;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    transform: translateY(30px);
    opacity: 1;
  }
  50% {
    transform: translateY(-15px);
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.image-container {
  flex: 1;
  height: 100%;
}
.typed-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.typed-text {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  overflow: hidden;
}
.text-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid var(--col-off-white);
  animation: 5s steps(20) infinite typewriter;
}
@keyframes typewriter {
  40%,
  60% {
    left: 100%;
  }
  100%,
  80% {
    left: 0;
  }
}
.btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  margin-top: 20px;
}
.btn-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  border: 2px solid var(--col-off-white);
  border-radius: 8px;
  font-size: 19px;
  letter-spacing: 0.5px;
  transition: 0.5s;
}
.btn-box a:nth-child(2) {
  background: 0 0;
}
.btn-box a:nth-child(2)::before {
  background: var(--col-off-white);
}
.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--col-off-black);
  z-index: -1;
  transition: 0.5s;
}
.btn-box a:hover {
  font-weight: 700;
  font-size: 21px;
}
.image-container2 {
  flex: 1;
  height: 100%;
}
@keyframes changeImage {
  0%,
  40%,
  80% {
    background-image: url("../images/wedding-photo3.jpg");
  }
  100%,
  20%,
  60% {
    background-image: url("../images/wedding-photo4.jpg");
  }
}
@media (max-width: 1200px) {
  .typed-text {
    font-size: 48px;
  }
  .btn-box {
    display: flex;
    gap: 10px;
    width: 300px;
    height: 50px;
  }
}
@media (max-width: 992px) {
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container,
  .image-container2 {
    height: 50vh;
    width: 100%;
  }
  .typed-container {
    width: 90%;
    padding: 20px;
  }
  .typed-text {
    font-size: 36px;
  }
  .btn-box {
    width: 300px;
    height: 50px;
  }
  .btn-box a {
    font-size: 18px;
    padding: 10px 18px;
  }
}
@media (max-width: 768px) {
  .image-container,
  .image-container2 {
    height: 40vh;
  }
  .typed-text {
    font-size: 28px;
  }
  .btn-box {
    width: 280px;
    height: 48px;
  }
  .btn-box a {
    font-size: 17px;
    padding: 8px 12px;
    width: 130px;
    transition: transform 0.3s;
  }
  .btn-box a:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 576px) {
  .typed-text {
    font-size: 24px;
  }
  .btn-box {
    width: 120px;
    height: 30px;
    flex-direction: column;
    gap: 15px;
    border-radius: 20%;
  }
  .btn-box a {
    width: 100%;
    font-size: 16px;
    padding: 12px 0;
  }
  .home-sci {
    width: 130px;
  }
}
@media (max-width: 400px) {
  .typed-text {
    font-size: 18px;
  }
  .btn-box {
    width: 100px;
    height: 35px;
    flex-direction: column;
    gap: 15px;
    border-radius: 20%;
  }
  .btn-box a {
    width: 100%;
    font-size: 16px;
    padding: 12px 0;
  }
  .home-sci {
    width: 130px;
  }
}
.purpose {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--col-off-black),
    var(--col-off-grecian-ivory)
  );
}
.purpose-container {
  width: 65%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  border-radius: 30px;
  overflow: hidden;
}
.whatwedo {
  font-size: 24px;
  font-weight: 600;
}
.items {
  margin: 5% 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.item .img-container img {
  width: 60px;
  height: auto;
  border-radius: 30%;
}
.paragraph,
.title,
.whatwedo {
  margin-top: 20px;
  color: var(--col-off-white);
}
@media (max-width: 1200px) {
  .purpose {
    min-height: 70vh;
  }
  .purpose-container {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .purpose {
    min-height: 60vh;
    flex-direction: column;
  }
  .purpose-container {
    height: auto;
    width: 95%;
  }
  .whatwedo {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .purpose {
    min-height: 50vh;
    padding: 20px;
  }
  .items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .whatwedo {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .purpose {
    min-height: 40vh;
  }
  .whatwedo {
    font-size: 20px;
  }
  .items {
    margin: 5% 0;
  }
  .item .img-container img {
    width: 60px;
  }
}
.grid-container {
  background: linear-gradient(
    45deg,
    var(--col-off-blushing),
    var(--col-off-pearl-gray),
    var(--col-off-champagne)
  );
  padding: 15px 9% 100px;
  border-bottom: 1px solid var(--col-off-black);
}
.grid-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
}
.grid-container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: var(--col-off-white);
  text-align: center;
  padding: 30px 20px;
  margin: 0 40px 60px 0;
  transition:
    transform 0.3s,
    box-shadow 0.3s,
    opacity 0.3s;
}
.grid-container .heading {
  padding-bottom: 100px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.grid-container .box-container .box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  padding: 10px;
}
.grid-container .box-container .box:hover {
  transform: scale(1.2);
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
  z-index: 2;
  cursor: pointer;
}
.footer-container .social a,
.grid-container .box-container .box .btn {
  position: relative;
  color: var(--col-off-white);
  overflow: hidden;
  z-index: 1;
}
.grid-container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
  font-weight: 600;
}
.grid-container .box-container .box .btn {
  display: inline-flex;
  padding: 8px 25px;
  margin: 20px 0 0;
  background: #1c1b1b;
  border: 1px solid;
  border-radius: 8px;
  font-size: 17px;
  text-decoration: none;
  transition: 0.5s;
}
.grid-container .box-container .box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--col-off-white);
  transition: 0.5s;
  z-index: -1;
}
.grid-container .box-container .box .btn:hover {
  font-weight: 700;
  color: var(--col-off-black);
  border: 1px solid var(--col-off-black);
}
.skeleton {
  opacity: 0.7;
  animation: 1s linear infinite alternate skeleton-loading;
  background-color: #a3b7c1;
  border-radius: 8px;
}
.skeleton-text {
  width: 100%;
  height: 1.5rem;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #c1cfd6;
}
p.skeleton-text {
  width: 90%;
}
@keyframes skeleton-loading {
  0% {
    background-color: #a3b7c1;
  }
  100% {
    background-color: #eff3f4;
  }
}
@media (max-width: 768px) {
  .grid-container .box-container .box {
    max-width: 80%;
    margin: 20px;
  }
  .grid-container .box-container .box .btn {
    padding: 12px 15px;
    font-size: 16px;
  }
}
.footer-container {
  background: var(--col-off-black);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-items: center;
}
.footer-container .item {
  color: var(--col-off-white);
  height: 180px;
}
.footer-container .item h4 {
  font-size: 22px;
  margin: 15px 0;
  position: relative;
}
.footer-container .item h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  background: var(--col-off-white);
  height: 2px;
  width: 90%;
}
.footer-container .item ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-container .item a {
  display: flex;
  color: var(--col-off-white);
  transition: transform 0.8s;
}
.footer-container .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition:
    color 0.5s,
    transform 0.5s;
}
.footer-container .social a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: var(--col-off-white);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.8s;
  z-index: -1;
}
.footer-container .social a:hover::before {
  width: 100%;
  height: 100%;
}
.footer-container .social ul {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
}
